<aside class="sidebar">
    <div class="sidebar-container">
        <div class="sidebar-header">
            <div class="brand">
                <img src="assets/img/estimotecloud.png">
            </div>
        </div>
        <nav class="menu">
            <ul class="sidebar-menu metismenu" id="sidebar-menu">
                <li routerLinkActive="active">
                    <a routerLink="beacons"><i class="fa fa-home fa-2x"></i> Beacons </a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="nearables"><i class="fa fa-flag fa-2x"></i> Nearables </a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="mirrors"><i class="fa fa-folder fa-2x"></i> Mirrors </a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="apps"><i class="fa fa-book fa-2x"></i> Apps </a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="location"><i class="fa fa-location-arrow fa-2x"></i> Locations</a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="analyti"><i class="fa fa-calendar fa-2x"></i> Analytics</a>
                </li>
                
                <li routerLinkActive="active">
                    <a routerLink="account"><i class="fa fa-user fa-2x"></i> Account</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>